[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
ipython = "*"
pyhumps = "*"
jinja2 = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
